@model JayDataExamples.App_Code.Example
@{Layout = "~/Views/Shared/Layout_Default.cshtml";}

@section CodeSource {
    <textarea class="code">
<div id="grid"></div>
<script>
    $("#input").kendoAutoComplete({
        dataSource: localDB.Products.asKendoDataSource(),
        dataTextField: 'Product_Name',
        filter: "startswith",
        placeholder: "Select product...",
        separator: ", "
    });
</script>
    </textarea>
}

@section CodeRunning {
    <br />
    <div id="shipping">
        <label for="input" class="info">Choose product:</label>
        <input id="input" />
    </div>
    <script>
        $.when($.ready, getLocalNorthwind())
        .then(function ($, localDB) {
            $("#input").kendoAutoComplete({
                dataSource: localDB.Products.asKendoDataSource(),
                dataTextField: 'Product_Name',
                filter: "startswith",
                placeholder: "Select product...",
                separator: ", "
            });
        });
    </script>
}
