@model JayDataExamples.App_Code.Example
@{Layout = "~/Views/Shared/Layout_Default.cshtml";}

@section CodeSource {
    <textarea class="code">
<div id="grid"></div>
<script>
    $("#chart").kendoChart({
        dataSource: remoteDB.Products.asKendoDataSource(),
        title: {
            text: "Products in stock"
        },
        series: [{
            type: "column",
            field: "Units_In_Stock",
            name: "Units In Stock"
        }],
        categoryAxis: {
            field: "Product_Name",
            labels: {
                rotation: -90
            }
        },
    });
</script>
    </textarea>
}

@section CodeRunning {
    <div id="chart"></div>
    <script>
        $.when($.ready, getRemoteNorthwind())
        .then(function ($, remoteDB) {
            $("#chart").kendoChart({
                dataSource: remoteDB.Products.asKendoDataSource(),
                title: {
                    text: "Products in stock"
                },
                series: [{ type: "column", field: "Units_In_Stock", name: "Units In Stock" }],
                categoryAxis: {
                    field: "Product_Name",
                    labels: {
                        rotation: -90
                    }
                },
            });
        });
    </script>
}
