@model JayDataExamples.App_Code.Example
@{Layout = "~/Views/Shared/Layout_Default.cshtml";}

@section CodeSource {
    <textarea class="code">
<div id="grid"></div>
<script>
    $('#grid').kendoGrid({
        dataSource: remoteDB.Products.asKendoDataSource({ pageSize: 10 }),
        filterable: true,
        sortable: true,
        pageable: true,
        height: 500,
        columns: ['Product_Name', 'Unit_Price', 'Units_In_Stock']
    });
</script>
    </textarea>
}

@section CodeRunning {
   <div id="grid"></div>
    <script>
        $.when($.ready, getRemoteNorthwind())
        .then(function ($, remoteDB) {
            $('#grid').kendoGrid({
                dataSource: remoteDB.Products.asKendoDataSource({ pageSize: 10 }),
                filterable: true,
                sortable: true,
                pageable: true,
                height: 500,
                columns: [{ field: 'Product_Name' }, { field: 'Unit_Price', filterable: false }, { field: 'Units_In_Stock' }],
                //columns: mydatabase.Categories.asKendoColumns().append({ command: "delete" }),
                //toolbar: ["create", "save", "cancel"],
                //editable: "popup"
            });
        });
    </script>
}