@model JayDataExamples.App_Code.Example
@{Layout = "~/Views/Shared/Layout_Default.cshtml";}

@section CodeSource {
    <textarea id="code">
<div id="grid"></div>
<script>
    $('#grid').kendoGrid({
        dataSource: localDB.Products.asKendoDataSource({ pageSize: 4 }),
        filterable: true,
        sortable: true,
        pageable: true,
        height: 500,
        columns: [
            { field: 'Product_Name' },
            { field: 'Unit_Price' },
            { field: 'Units_In_Stock' },
            { command: ["edit", "destroy", "update"] }
        ],
        toolbar: ["create", "save", "cancel"],
        editable: "inline"
    });
</script>
    </textarea>
}

@section CodeRunning {
   <div id="grid"></div>
    <script>
        $.when($.ready, getLocalNorthwind())
        .then(function ($, localDB) {
            $('#grid').kendoGrid({
                dataSource: localDB.Products.asKendoDataSource({ pageSize: 4 }),
                filterable: true,
                sortable: true,
                pageable: true,
                height: 500,
                columns: [{ field: 'Product_Name' }, { field: 'Unit_Price', filterable: false }, { field: 'Units_In_Stock' }, { command: ["edit", "destroy", "update"] }],
                //columns: localDB1.Products.asKendoColumns().append({ command: "delete" }),
                toolbar: ["create", "save", "cancel"],
                editable: "inline"
            });
        });
    </script>
}