@model JayDataExamples.App_Code.Example
@{ 
    Layout = "~/Views/Shared/Layout_KendoUI.cshtml";
    ViewBag.Title = "Kendo UI Grid and CRUD";
    }

@section Meta {
    <meta name="keywords" content="JayData, HTML5, Javascript, Kendo UI, Crossplatform, WebSQL, IndexedDB, example" />
    <meta name="description" content="How to use the JayData with Kendo UI! See this simple example." />
}

@section Includes {
    <script type="text/javascript" src="~/Scripts/vendor/north.js"></script>
    <script type="text/javascript" src="http://jaydata-cdn.s3.amazonaws.com/datajs-1.0.3-patched.js"></script>
    <link href="../Styles/dd.css" rel="stylesheet" />
}
@section SupportedBrowsers {
    @{Html.RenderPartial("_IncludeSupportedBrowsers");}
}
@section SimilarContents {
    @{Html.RenderPartial("_IncludeRelatedContents");}
}
@section SourceCode {
    @{Html.RenderPartial("_IncludeDownloadableSource");}
}

@section Tags {
    @{Html.RenderPartial("_IncludeTags");}
}


@section Description {
    <p class="main-desc">
        This Kendo Grid example uses a local Northwind database. Sorting, paging and filtering works along
                with full CRUD. The demo is written so that your local database is reinitialized on every page reload and your changes are lost!
    </p>
}

@section CodeSource {
    <textarea id="code">
<div id="grid"></div>
<script>
    $('#grid').kendoGrid({
        dataSource: localDB.Products.asKendoDataSource({ pageSize: 4 }),
        filterable: true,
        sortable: true,
        pageable: true,
        height: 500,
        columns: [
            { field: 'Product_Name' },
            { field: 'Unit_Price' },
            { field: 'Units_In_Stock' },
            { command: ["edit", "destroy", "update"] }
        ],
        toolbar: ["create", "save", "cancel"],
        editable: "inline"
    });
</script>
    </textarea>

    <script>
        setTimeout(function () {
            CodeMirror.fromTextArea(document.getElementById('code'), {
                mode: 'text/html',
                lineNumbers: false
            });
        });
    </script>
}

@section CodeRunning {
   <div id="grid"></div>
    <script>
        $.when($.ready, getLocalNorthwind())
        .then(function ($, localDB) {
            $('#grid').kendoGrid({
                dataSource: localDB.Products.asKendoDataSource({ pageSize: 4 }),
                filterable: true,
                sortable: true,
                pageable: true,
                height: 500,
                columns: [{ field: 'Product_Name' }, { field: 'Unit_Price', filterable: false }, { field: 'Units_In_Stock' }, { command: ["edit", "destroy", "update"] }],
                //columns: localDB1.Products.asKendoColumns().append({ command: "delete" }),
                toolbar: ["create", "save", "cancel"],
                editable: "inline"
            });
        });
    </script>
}