@model JayDataExamples.App_Code.Example
@{ 
    Layout = "~/Views/Shared/Layout_KendoUI.cshtml";
    ViewBag.Title = "Grid with filter and sorting";
    }

@section Meta {
    <meta name="keywords" content="JayData, HTML5, Javascript, JayData providers, WebSQL, IndexedDB, example" />
    <meta name="description" content="How to use the JayData with Kendo! See this simple listview example." />
}

@section Includes {
    <script type="text/javascript" src="~/Scripts/vendor/north.js"></script>
    <script type="text/javascript" src="http://jaydata-cdn.s3.amazonaws.com/datajs-1.0.3-patched.js"></script>
    <link href="../Styles/dd.css" rel="stylesheet" />
}
@section SupportedBrowsers {
    @{Html.RenderPartial("_IncludeSupportedBrowsers");}
}
@section SimilarContents {
    @{Html.RenderPartial("_IncludeRelatedContents");}
}
@section SourceCode {
    @{Html.RenderPartial("_IncludeDownloadableSource");}
}

@section Tags {
    @{Html.RenderPartial("_IncludeTags");}
}

@section Description {
    <p class="main-desc">
        This Kendo Grid example uses oData to access the Northwind service. Sorting, paging and filtering works on the server side but with a simple
            switch they can be one the client side, too.  In this example the grid is read only and the columns are manually configured. In other
            examples you'll see read-write grid and automatic column setup.
    </p>
}

@section CodeSource {
    <textarea id="code">
<div id="grid"></div>
<script>
    $('#grid').kendoGrid({
        dataSource: remoteDB.Products.asKendoDataSource({ pageSize: 10 }),
        filterable: true,
        sortable: true,
        pageable: true,
        height: 500,
        columns: ['Product_Name', 'Unit_Price', 'Units_In_Stock']
    });
</script>
    </textarea>

    <script>
        setTimeout(function () {
            CodeMirror.fromTextArea(document.getElementById('code'), {
                mode: 'text/html',
                lineNumbers: false
            });
        });
    </script>
}

@section CodeRunning {
   <div id="grid"></div>
    <script>
        $.when($.ready, getRemoteNorthwind())
        .then(function ($, remoteDB) {
            $('#grid').kendoGrid({
                dataSource: remoteDB.Products.asKendoDataSource({ pageSize: 10 }),
                filterable: true,
                sortable: true,
                pageable: true,
                height: 500,
                columns: [{ field: 'Product_Name' }, { field: 'Unit_Price', filterable: false }, { field: 'Units_In_Stock' }],
                //columns: mydatabase.Categories.asKendoColumns().append({ command: "delete" }),
                //toolbar: ["create", "save", "cancel"],
                //editable: "popup"
            });
        });
    </script>
}