@model JayDataExamples.App_Code.Example
@{ Layout = "~/Views/Shared/Layout_KendoUI.cshtml";
   ViewBag.Title = "ListView with filter and sorting";
    }



@section Meta {
    <meta name="keywords" content="JayData, HTML5, Javascript, JayData providers, WebSQL, IndexedDB, example" />
    <meta name="description" content="How to use the JayData with Kendo! See this simple listview example." />
}

@section Includes {
    <script type="text/javascript" src="~/Scripts/vendor/north.js"></script>
    <script type="text/javascript" src="http://jaydata-cdn.s3.amazonaws.com/datajs-1.0.3-patched.js"></script>
    <link href="../Styles/dd.css" rel="stylesheet" />
}
@section SupportedBrowsers {
    @{Html.RenderPartial("_IncludeSupportedBrowsers");}
}
@section SimilarContents {
    @{Html.RenderPartial("_IncludeRelatedContents");}
}
@section SourceCode {
    @{Html.RenderPartial("_IncludeDownloadableSource");}
}

@section Tags {
    @{Html.RenderPartial("_IncludeTags");}
}

@section Description {
    <p class="main-desc">
        As you can see in this example, to use Kendo UI with JayData is a piece of cake. All you need is a JayData context, of course it works with all providers!
            In this example oData is used. Check the network panel to see the requests.
            You can create a Kendo Datasource with a simple method: asKendoDataSource() and off you go. If works everywhere where Kendo expects a DataSource, not only
            with ListView. Our datasource supports everything, so paging, filtering and sorting all works. If you use oData, then paging, filtering and sorting happens on
            the server side! asKendoDataSource() is a method of Queryable so you can use all features of JayData, filtering, projection, etc.
    </p>
}

@section CodeSource {
    <textarea id="code">
<script>
    $(document).delegate("#filter", "click", function () {
        var f = $("#pricefilter").val();
        if (f != "")
            _ds.filter({ field: "Price", operator: "lt", value: parseInt(f) });
        else
            _ds.filter({});
    });
    $(document).delegate("#sortby", "change", function () {
        var f = $("#sortby").val();
        if (f != "")
            _ds.sort({ field: f, dir: "asc" });
        else
            _ds.sort({});
    });
</script>
    </textarea>

    <script>
        setTimeout(function () {
            CodeMirror.fromTextArea(document.getElementById('code'), {
                mode: 'text/html',
                lineNumbers: false
            });
        });
    </script>
}

@section CodeRunning {
    <div class="padding10">
        Max price:
                <input type="number" id="pricefilter" style="width: 80px" size="3" maxlength="3" name="pricefilter" /><a class="btn btn-small iblock" href="#" id="filter" style="margin: -10px 0 0 5px">Filter</a>

        <div class="iblock fright">
            Sort by:
                <select style="width: 80px" id="sortby" name="sortby">
                    <option value="" selected>---</option>
                    <option value="Name">Name</option>
                    <option value="Price">Price</option>
                </select>
        </div>
    </div>


    <div id="pager" class="k-pager-wrap"></div>
    <div id="listView"></div>

    <script type="text/x-kendo-tmpl" id="template">
        <span class="product" style="width:230px;float:left">
            <img style="width:220px;height:150px" src="${ImageUrl}" />
            <h3>${Name}</h3>
            <b>${kendo.toString(Price, "c")}</b>
        </span>
    </script>
    <script>
        var apiKey = {
            appId: '133e0907-f70b-4f11-92b3-dfebc9bdd6db',
            // see https://dashboard.jaystack.com for your real application key
            applicationKey: 'XXXX',
            serviceName: 'mydatabase',
            license: 'business'
        };

        $data.initService(apiKey)
        .then(function (mydatabase, factory, type) {
            delete mydatabase.storageProvider.supportedSetOperations.withInlineCount;
            var _ds = mydatabase.Flowers.asKendoDataSource({ pageSize: 4 });

            $("#listView").kendoListView({
                dataSource: _ds,
                template: kendo.template($("#template").html())
            });
            $("#pager").kendoPager({
                dataSource: _ds
            }).data("kendoPager");

            $(document).delegate("#filter", "click", function () {
                var f = $("#pricefilter").val();
                if (f != "")
                    _ds.filter({ field: "Price", operator: "lt", value: parseInt(f) });
                else
                    _ds.filter({});
            });
            $(document).delegate("#sortby", "change", function () {
                var f = $("#sortby").val();
                if (f != "")
                    _ds.sort({ field: f, dir: "asc" });
                else
                    _ds.sort({});
            });
        });
    </script>
}