@model JayDataExamples.Controllers.Example
@{ Layout = "~/Views/Shared/Layout_KendoUI.cshtml"; }

@section Title {
    <h1>Filter, projection and sorting</h1>
}

@section Meta {
    <meta name="keywords" content="JayData, HTML5, Javascript, JayData providers, WebSQL, IndexedDB, example" />
    <meta name="description" content="How to use the JayData with Kendo! See this simple listview example." />
}

@section Includes {
    <script type="text/javascript" src="~/Scripts/vendor/north.js"></script>
    <script type="text/javascript" src="http://jaydata-cdn.s3.amazonaws.com/datajs-1.0.3-patched.js"></script>
    <script type="text/javascript" src="~/Scripts/example/kendo_mobile_simple.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdn.kendostatic.com/2012.2.710/styles/kendo.mobile.all.min.css" />
    <link href="../Styles/dd.css" rel="stylesheet" />
    <link href="~/Styles/examples.css" rel="stylesheet" />
}

@section SupportedBrowsers {
    <div class="bg-dark-grid">
        <h3>Filter, projection and sorting</h3>
    </div>
    <div class="well well-white">
        <ul class="browser-list">
            <li class="browser chrome" title="Google Chrome 12+"></li>
            <li class="browser opera" title="Opera 10+"></li>
            <li class="browser safari" title="Safari 4+"></li>
            <li class="browser blackberry" title="Blackberry 2+"></li>
            <li class="browser wp" title="Windows Phone 7.5+"></li>
            <li class="browser ios" title="iOS 4+"></li>
            <li class="browser android" title="Android 2.2+"></li>
        </ul>
    </div>
}

@section Tags {
    <ul class="tags">
        @foreach (var tag in Model.TagList)
        {
            <li><a class="label label-purple" href="javascript:void(0)"><i class="icon-tag icon-white"></i>@tag</a></li>
        }
    </ul>
}

@section Description {
    <p class="main-desc">
        This Kendo mobile example uses a remote Northwind database over oData.
            asKendoDataSource() is a method of Queryable, so not only an EntitySet can be specified but other JayData expressions as well.
            The projection on the Categories set reduces the network traffic because pictures won't be downloaded (we only display the name of the category so 
            pictures are not needed). Be sure to include the primary key into the map!
            The filter on the Products set filters out records on the server so products that are not in stock won't be displayed.
            It also sorts the products on the server side.
            When KendoUI widget also filters and sorts the records (such as grid), the filtering and ordering specified at datasource definition and the filtering and ordering
            specified by the KendoUI widget are combined.
    </p>
}

@section SourceCode {
    <div class="box-jsfiddle fright">
        <a class="logo-jsfiddle blue" target="_blank" href="http://jsfiddle.net/JayData/F4Hda/">jsfiddle</a>

        <span class="separator">or</span>

        <a href="#" class="btn btn-primary">Download</a>
    </div>
}

@section CodeSource {
    <textarea id="code">
Same code as the Mobile simple example but filtering, projection and sorting
applied to the datasources.

<script>
    categoriesDataSource: remoteDB.Categories
        .map(function (c) {
            return {
                Category_ID: c.Category_ID,
                Category_Name: c.Category_Name
            };
        }, {}, "default")
        .asKendoDataSource()
    productsDataSource: remoteDB.Products
        .filter('it.Units_In_Stock > 0')
        .orderByDescending('it.Unit_Price')
        .asKendoDataSource()
</script>
    </textarea>

    <script>
        setTimeout(function () {
            CodeMirror.fromTextArea(document.getElementById('code'), {
                mode: 'text/html',
                lineNumbers: false
            });
        });
    </script>
}

@section CodeRunning {
    <div class="k-content mobileExample ">
        <div id="device-wrapper">
            <div id="mobile-application-container">
                <div data-role="view" id="categories" data-layout="default" data-model="viewModel" data-title="Categories">
                    <ul id="listView"
                        data-role="listview"
                        data-style="inset"
                        data-template="categorylist-template"
                        data-bind="source: categoriesDataSource, events: { click: selectCategory }">
                    </ul>
                </div>
                <div data-role="view" id="products" data-layout="default" data-model="viewModel" data-title="Products">
                    <header data-role="header">
                        <div data-role="navbar">
                            <a data-align="left" data-role="backbutton">Back</a>
                        </div>
                    </header>
                    <ul id="listView"
                        data-role="listview"
                        data-style="inset"
                        data-template="productlist-template"
                        data-bind="source: productsDataSource, events: { click: selectProduct }">
                    </ul>
                </div>
                <div data-role="view" id="product" data-layout="default" data-model="viewModel" data-title="Product">
                    <header data-role="header">
                        <div data-role="navbar">
                            <a data-align="left" data-role="backbutton">Back</a>
                            <a data-align="right" data-role="button" href="#products" data-bind="click: remove">Delete</a>
                        </div>
                    </header>
                    <ul data-role="listview" data-style="inset">
                        <li>Name <span class="value" data-bind="text: product.Product_Name"></span></li>
                        <li>Price <span class="value" data-bind="text: product.Unit_Price"></span></li>
                        <li>In Stock <span class="value" data-bind="text: product.Units_In_Stock"></span></li>
                        <li>On Order <span class="value" data-bind="text: product.Units_On_Order"></span></li>
                    </ul>
                </div>
                <script id="categorylist-template" type="text/x-kendo-template">
        <a href="##products" data-bind="text:Category_Name"></a>
                </script>
                <script id="productlist-template" type="text/x-kendo-template">
        <a href="##product" data-bind="text:Product_Name"></a>
                </script>

            </div>
        </div>
    </div>

    <script>
        $.when(getRemoteNorthwind()).then(function (remoteDB) {

            viewModel = kendo.observable({
                categoriesDataSource: remoteDB.Categories
                    .map(function (c) { return { Category_ID: c.Category_ID, Category_Name: c.Category_Name }; }, {}, "default")
                    .asKendoDataSource(),
                productsDataSource: remoteDB.Products
                    .filter('it.Units_In_Stock > 0')
                    .orderByDescending('it.Unit_Price')
                    .asKendoDataSource(),

                product: null,

                selectCategory: function (e) {
                    viewModel.productsDataSource.filter({ field: 'Category_ID', operator: 'eq', value: e.dataItem.Category_ID });
                },
                selectProduct: function (e) {
                    viewModel.set('product', null);
                    viewModel.set('product', e.dataItem);
                },
                remove: function () {
                    viewModel.productsDataSource.remove(viewModel.product);
                    viewModel.productsDataSource.sync();
                }
            });
            applyCurrentMobileOS("#mobile-application-container");
            if (!$.browser.msie && !$.browser.opera) {
                app = new kendo.mobile.Application($("#mobile-application-container"),
                {
                    layout: "examples",
                    platform: kendoMobileOS,
                    updateDocumentTitle: false
                });
            }
        });
    </script>
}
