@model JayDataExamples.App_Code.Example
@{ Layout = "~/Views/Shared/Layout_New.cshtml";}

@section JSSource {
<script>
    toastr.options = {
        "fadeOut": 500,
        "timeOut": 800,
        "target": $("#map")[0]
    };

    var lmap = L.map('map').setView([47.498333, 19.040833], 12);
    var lgroup = new L.LayerGroup().addTo(lmap);
    L.tileLayer('http://{s}.tile.cloudmade.com/003d6e8d9af14e7582b462c10e572a1a/997/256/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(lmap);


    $data.define('POI', {
        id: { type: $data.Guid, key: true, required: true },
        name: String,
        coord: $data.GeographyPoint
    })
    .setStore('default', { name: 'local', databaseName: 'pois' })
    .setStore('remote', { name: 'oData', dataSource: 'https://dev-open.jaystack.net/06b63652-9ec1-4c42-82ad-ed6875efacfb/7b261639-c46e-4913-b14f-ea3d3f899fcb/api/mydatabase/POI' });

    var points = {};
    var popup;

    function cancel() {
        popup.closePopup();
        return false;
    }

    function cancelNew() {
        var id = $("#id").val();
        popup.closePopup();
        var g = points[id];
        g.removeMapObject();
        delete points[g.id];
        return false;
    }

    function removePOI() {
        var id = $("#id").val();
        popup.closePopup();
        var g = points[id];
        g.remove()
        .then(function () {
            toastr.success('Removed');
            g.removeMapObject();
            delete points[g.id];
        });
        return false;
    }

    function savePOI() {
        var id = $("#id").val();
        var name = $("#name").val().trim();
        var g = points[id];
        if (!name) {
            $("#row").addClass('error');
        }
        else {
            g.name = name;
            g.save()
            .then(toastr.success('Saved'));
            popup.closePopup();
        }
        return false;
    }

    function add2map(g) {

        points[g.id] = g;

        var marker = L.marker([g.coord.coordinates[1], g.coord.coordinates[0]], { draggable: true });

        marker.on('dragend', function (e) {
            g.coord = new $data.GeographyPoint(e.target._latlng.lng, e.target._latlng.lat);
            g.save()
            .then(toastr.success('Moved'));
        });

        marker.edit = function () {
            var form = '<form id="inputform" onSubmit="return savePOI();" class="well" style="height: 60px; width: 200px;">' +
                        '<input type="hidden" id="id" name="id" value="' + g.id + '">' +
                        '<div id="row" class="control-group">' +
                         '<label class="control-label span4" style="padding-top: 4px" for="name">Name:</label>' +
                         '<span class="controls span8">' +
                          '<input style="width: 120px" type="text" length="20" maxlength="20" placeholder="Required" id="name" name="name" value="' + g.name + '"/>' +
                         '</span>' +
                        '</div>' +
                        '<div class="row-fluid">' +
                    '<div class="span4" style="text-align:center;"><button type="button" class="btn-mini" onclick="return cancel();">Cancel</button></div>' +
                    '<div class="span4" style="text-align:center;"><button type="button" class="btn-mini btn-danger" onclick="return removePOI();">Remove</button></div>' +
                    '<div class="span4" style="text-align:center;"><button type="button" class="btn-mini btn-primary" onclick="return savePOI();">Submit</button></div>' +
                        '</div>' +
                        '</form>';
            popup = marker.bindPopup(form).openPopup();
            setTimeout(function () { $("#name").focus(); }, 0);
        };

        marker.editNew = function () {
            var form = '<form id="inputform" onSubmit="return savePOI();" class="well" style="height: 60px; width: 200px;">' +
                        '<input type="hidden" id="id" name="id" value="' + g.id + '">' +
                        '<div id="row" class="control-group">' +
                         '<label class="control-label span4" style="padding-top: 4px" for="name">Name:</label>' +
                         '<span class="controls span8">' +
                          '<input style="width: 120px" type="text" length="20" maxlength="20" placeholder="Required" id="name" name="name" value="' + g.name + '"/>' +
                         '</span>' +
                        '</div>' +
                        '<div class="row-fluid">' +
                    '<div class="span6" style="text-align:center;"><button type="button" class="btn-mini" onclick="return cancelNew();">Cancel</button></div>' +
                    '<div class="span6" style="text-align:center;"><button type="button" class="btn-mini btn-primary" onclick="return savePOI();">Submit</button></div>' +
                        '</div>' +
                        '</form>';
            popup = marker.bindPopup(form).openPopup();
            setTimeout(function () { $("#name").focus(); }, 0);
        };

        marker.on('click', function () {
            marker.edit();
        });

        lgroup.addLayer(marker);

        g.mapObject = function () {
            return marker;
        }
        g.removeMapObject = function () {
            lgroup.removeLayer(marker);
        }
    }

    function init() {
        POI.itemCount()
        .then(function (l) {
            if (l > 0) return;
            return POI.query('it.coord.distance(p) < r/R', { p: new $data.GeographyPoint(19.040833, 47.498333), r: 750, R: 6371000 }, 'remote')
                .then(function (pois) {
                    return POI.addMany(pois);
                });
        })
        .then(function () {
            POI.readAll()
            .then(function (result) {
                result.forEach(function (g) {
                    add2map(g);
                });
            });
        });
    }

    function resetLocalDb() {
        lgroup.clearLayers();
        POI.removeAll()
        .then(init);
        return false;
    }

    var ResetButton = L.Control.extend({
        options: {
            position: 'topright',
            autoZIndex: true
        },
        initialize: function (options) {
            L.setOptions(this, options);
        },
        onAdd: function (map) {
            var container = L.DomUtil.create('div', 'leaflet-control-options');
            $(container).html('<button type="button" class="btn-mini btn-primary" onclick="return resetLocalDb();">Reset</button>');
            L.DomEvent
                .addListener(container, 'click', L.DomEvent.stopPropagation)
                .addListener(container, 'click', L.DomEvent.preventDefault);
            return container;
        }
    });
    lmap.addControl(new ResetButton());

    init();

    var timer;

    lmap.on('click', function (e) {
        window.clearTimeout(timer);
        timer = window.setTimeout(function () {
            var g = new POI();
            g.id = $data.createGuid();
            g.name = '';
            g.coord = new $data.GeographyPoint(); // $data.Point(e.latlng);
            g.coord.coordinates = [e.latlng.lng, e.latlng.lat];
            add2map(g);
            g.mapObject().editNew();
        }, 300);
    });

    lmap.on('dblclick', function (e) {
        window.clearTimeout(timer);
    });
</script>
}

@section HTMLSource {
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
<script src="http://jaydata-cdn.s3.amazonaws.com/datajs-1.0.3-patched.js"></script>
<script src="http://include.jaydata.org/jaydata.js"></script>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
<link rel="stylesheet" href="/examples/styles/toastr.min.css" />
<script src="/examples/scripts/vendor/toastr.js"></script>

<div id="map" style="overflow: hidden; width: 100%; height: 100%"></div>
}

@section CSSSource {
    html, body {
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    #toast-container {
        position: absolute;
    }
    #toast-container > div {
        width: 100px;
    }
}
