@model JayDataExamples.App_Code.Example
@{ Layout = "~/Views/Shared/Layout_Default.cshtml";
   ViewBag.Title = "JayData examples: Knockout dynamic query";
   }

@section Meta {
    <meta name="keywords" content="JayData, HTML5, Javascript, JayData providers, WebSQL, IndexedDB, example" />
    <meta name="description" content="How to use the JayData with Kendo! See this simple listview example." />
}

@section Description {
    <p class="main-desc">
        .....
    </p>
}

@section CodeSource {
    <textarea id="code">
<!-- Pass an observable as a query parameter -->
<script type="text/javascript">
    self.selectedCategoryId = ko.observable(0);
    self.listedProducts = ko.observableArray([]);

    northwind.Products
        .filter(function (product) { return product.Category_ID == this.Id }, {
            Id: self.selectedCategoryId
        })
        .toArray(self.listedProducts);
</script>

<!-- Change the value of the observable and the query will run again -->
<script>
    self.loadProducts = function (category) {
        self.selectedCategoryId(category.Category_ID());
    };
</script>
    </textarea>

    <script>
        setTimeout(function () {
            CodeMirror.fromTextArea(document.getElementById('code'), {
                mode: 'text/html',
                lineNumbers: false
            });
        });
    </script>
}

@section CodeRunning {
    <table class="table span12 reset-m" style="margin: 0 10px 10px 0 !important;">
        <thead>
            <tr>
                <th>Category name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: listedCategories">
            <tr>
                <td><a href="#" data-bind="text: Category_Name, click: $root.loadProducts"></a></td>
                <td data-bind="text: Description"></td>
            </tr>
        </tbody>
    </table>

    <table class="table span12 reset-m" data-bind="visible: $root.listedProducts().length > 0" style="margin: 0 10px 10px 0 !important;">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>English Name</th>
                <th>Unit Price</th>
                <th>Units In Stock</th>
                <th>Discontinued</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: listedProducts">
            <tr>
                <td><a href="#" data-bind="text: Product_Name, click: $root.editProduct"></a></td>
                <td data-bind="text: English_Name"></td>
                <td data-bind="text: Unit_Price"></td>
                <td data-bind="text: Units_In_Stock"></td>
                <td data-bind="text: Discontinued"></td>
            </tr>
        </tbody>
    </table>

    <!-- ko if: $root.editProduct -->
    <div class="table span4 reset-m noborder_">
        <div class="well-box">
            <form data-bind="submit: saveProduct" style="margin: 10px">
                <fieldset data-bind="with: $root.editProduct">
                    <legend class="modal-header">Edit Product</legend>

                    <div class="modal-body" style="max-height: 600px;">
                        Product name:
                                <input class="span4" type="text" data-bind="value: Product_Name" />
                        <br />
                        English Name:
                                <br />
                        <input class="span4" type="text" data-bind="value: English_Name" />
                        <br />
                        Category:
                                <br />
                        <select class="span4" data-bind="options: $root.listedCategories,
                                                       optionsText: 'Category_Name',
                                                       optionsValue: 'Category_ID',
                                                       value: Category_ID">
                        </select>
                        <br />
                        Unit Price:
                                <br />
                        <input class="span4" type="text" data-bind="value: Unit_Price" />
                        <br />
                        Units In Stock:
                                <br />
                        <input class="span4" type="text" data-bind="value: Units_In_Stock" />
                        <br />
                        Discontinued:
                        <input type="checkbox" data-bind="checked: Discontinued" />
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="save" class="btn btn-success tshadow" />
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="saveResult" class="alert alert-success hide">
            <strong>Success!</strong>
            <br />
            Product has been saved successfully.
        </div>
    </div>
    <!-- /ko -->

    <script>
        var northwind = new JayDataExamples.NorthwindDB.NorthwindEntities({ name: 'oData', oDataServiceHost: '/Northwind.svc' });
        northwind.onReady(function () {
            $(function () {
                function NorthwindViewModel() {
                    var self = this;
                    self.listedCategories = ko.observableArray([]);
                    self.selectedCategoryId = ko.observable(0);

                    self.listedProducts = ko.observableArray([]);

                    self.editProduct = ko.observable(false);
                    self.editProduct.subscribe(function (value) {
                        var oldValue = self.editProduct();
                        if (oldValue instanceof NorthwindModel.ObservableProduct)
                            northwind.Products.detach(oldValue);
                    }, undefined, 'beforeChange');
                    self.editProduct.subscribe(function (value) {
                        if (value instanceof NorthwindModel.ObservableProduct)
                            northwind.Products.attach(value);
                    });
                    self.saveProduct = function () {
                        northwind.saveChanges();
                        var result = $('#saveResult');
                        result.show()
                        setTimeout(function () {
                            result.fadeOut("slow");
                        }, 1500);
                    };

                    self.loadProducts = function (category) {
                        self.selectedCategoryId(category.Category_ID());
                        self.editProduct(false);
                    };

                    northwind.Categories
                        .toArray(self.listedCategories)
                        .then(function (categories) {
                            if (categories.length > 0)
                                self.selectedCategoryId(categories[0].Category_ID);
                        });

                    northwind.Products
                        .filter(function (product) { return product.Category_ID == this.Id }, { Id: self.selectedCategoryId })
                        .toArray(self.listedProducts);

                };

                ko.applyBindings(new NorthwindViewModel());

            });
        });
    </script>
}
