<div class="logo-filter container">
    @*<li class="logo-list-item"><a href="#" class="logo-big localstorage"></a></li>*@
    @*<li class="logo-list-item"><a href="#" class="logo-medium yourui"></a></li>*@
    @*<li class="logo-list-item big"><a href="#" class="logo-medium jqgrid"></a></li>*@
    @*<li class="logo-list-item"><a href="#" class="logo-medium jquerymobile"></a></li>*@
    @*<li class="logo-list-item"><a href="#" class="logo-big azure"></a></li>*@
    @*<li class="logo-list-item"><a href="#" class="logo-big yourstore"></a></li>*@
    @*<li class="logo-list-item"><a href="#" class="logo-big google"></a></li>*@
    @*<li class="logo-list-item"><a href="#" class="logo-big php"></a></li>*@
    @*<li class="logo-list-item"><a href="#" class="logo-big amazon"></a></li>*@

    <ul class="logo-filter-list">
        <li class="list-header"><h3>JayData Features</h3></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('Type Definition')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('Type Definition');}" href="#" class="logo-big type-def"><span class="hidden-desktop">Type Definition</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('CRUD')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('CRUD');}" href="#" class="logo-big crud"><span class="hidden-desktop">CRUD</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('query')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('query');}" href="#" class="logo-big query-and-paging"><span class="hidden-desktop">Query and Paging</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('Indicies')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('Indicies');}" href="#" class="logo-big using-indicies"><span class="hidden-desktop">Using Indicies</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('Transactions')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('Transactions');}" href="#" class="logo-big transactions"><span class="hidden-desktop">Transactions</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('Geo')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('Geo');}" href="#" class="logo-big geo"><span class="hidden-desktop">Geo</span></a></li>
    </ul>
    
    <ul class="logo-filter-list">
        <li class="list-header"><h3>JayData Pro</h3></li>
        <li class="logo-list-item pro"><a href="#" class="logo-big jaydata"><span class="hidden-desktop">JayData</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('indexedDB')?'logo-list-item active pro':'logo-list-item pro'}"><a data-bind="click:function(){$root.addLogoFilter('indexedDB');}" href="#" class="logo-big indexeddb"><span class="hidden-desktop">IndexedDb</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('WebSQL')?'logo-list-item active pro':'logo-list-item pro'}"><a data-bind="click:function(){$root.addLogoFilter('WebSQL');}" href="#" class="logo-big websql"><span class="hidden-desktop">WebSQL</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('MongoDB')?'logo-list-item active pro':'logo-list-item pro'}"><a data-bind="click:function(){$root.addLogoFilter('MongoDB');}" href="#" class="logo-big mongodb"><span class="hidden-desktop">MongoDB</span></a></li>
    </ul>

    <ul class="logo-filter-list">
        <li class="list-header"><h3>Providers</h3></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('OData')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('OData');}" href="#" class="logo-big odata"><span class="hidden-desktop">OData</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('indexedDB')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('indexedDB');}" href="#" class="logo-big indexeddb"><span class="hidden-desktop">IndexedDb</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('SQLite')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('SQLite');}" href="#" class="logo-big sqlite"><span class="hidden-desktop">SQLite</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('facebook')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('facebook');}" href="#" class="logo-big facebook"><span class="hidden-desktop">Facebook</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('YQL')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('YQL');}" href="#" class="logo-big yahoo"><span class="hidden-desktop">YQL</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('InMemory')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('InMemory');}" href="#" class="logo-big inmemory"><span class="hidden-desktop">InMemory</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('HTML5 localStorage')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('HTML5 localStorage');}" href="#" class="logo-big localstorage"><span class="hidden-desktop">HTML5 LocalStorage</span></a></li>
    </ul>

    <ul class="logo-filter-list">
        <li class="list-header"><h3>Server side</h3></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('SQLite')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('SQLite');}" href="#" class="logo-big sqlite"><span class="hidden-desktop">SQLite</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('JayStorm')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('JayStorm');}" href="#" class="logo-big jayrepo"><span class="hidden-desktop">JayStorm</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('NodeJs')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('NodeJs');}" href="#" class="logo-big nodejs"><span class="hidden-desktop">NodeJs</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('tag1')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('tag1');}" href="#" class="logo-big vs"><span class="hidden-desktop">tag1</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('MongoDB')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('MongoDB');}" href="#" class="logo-big mongodb"><span class="hidden-desktop">MongoDB</span></a></li>
    </ul>

    <ul class="logo-filter-list">
        <li class="list-header"><h3>UI Libraries</h3></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('KendoUI')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('KendoUI');}" href="#" class="logo-medium kendoui"><span class="hidden-desktop">KendoUI</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('Knockout')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('Knockout');}" href="#" class="logo-medium knockout"><span class="hidden-desktop">Knockout</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('Handlebars')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('Handlebars');}" href="#" class="logo-medium handlebars"><span class="hidden-desktop">Handlebars</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('jQuery')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('jQuery');}" href="#" class="logo-medium jqueryui"><span class="hidden-desktop">jQuery</span></a></li>
        <li class="logo-list-item" data-bind="attr:{class:$root.isActiveTag('SenchaTouch')?'logo-list-item active':'logo-list-item'}"><a data-bind="click:function(){$root.addLogoFilter('SenchaTouch');}" href="#" class="logo-medium sencha"><span class="hidden-desktop">SenchaTouch</span></a></li>
    </ul>

    <div class="logo-filter-trigger btn-purple">
        <a class="filter-icon" href="javascript:void(0)">
            <i class="icon-chevron-down icon-white z-up"></i>
            <i class="icon-chevron-up icon-white hidden z-down"></i>
        </a>
    </div>
</div>
