@model JayDataExamples.App_Code.Example

<div class="bg-dark-grid">
    <h3>Related Contents</h3>
</div>
<div class="well well-white">
    <ul class="purple-list">
        @foreach (var cLink in Model.RelatedContents)
        {
            <li class="@cLink.Css"><a href="@cLink.Link" target="@cLink.Target">@cLink.Title</a></li>
        }
    </ul>
</div>
