<div class="navbar navbar-fixed-top">
    <div id="mainnav" class="navbar-inner">
        <div class="container">
            <div class="row-fluid">

                <a href="/" class="logo-jaydata-light"></a>

                <ul class="nav">
                    <li><a href="http://github.com/jaydata/jaydata.org-examples" class="btn btn-purple">Examples &#64; GitHub</a></li>
                    <li><a href="http://github.com/jaydata/jaydata" class="btn btn-purple">JayData &#64; GitHub</a></li>
                    <li><a href="http://www.jaydata.org/download" class="btn btn-primary">Download JayData</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
