@model JayDataExamples.App_Code.Example

<div class="bg-dark-grid">
    <h3>Related Contents</h3>
</div>
<div class="well well-white">
    @if (Model.RelatedContents != null && Model.RelatedContents.Count > 0)
    {
        <ul class="purple-list">
            @foreach (var cLink in Model.RelatedContents)
            {
                <li class="@cLink.Css"><a target="_blank" href="@cLink.Link" target="@cLink.Target">@cLink.Title</a></li>
            }
        </ul>
    }else{
        <span>No related content</span>
    }
</div>