@model JayDataExamples.App_Code.Example
<div class="box-jsfiddle fright">
    @if (!String.IsNullOrEmpty(Model.JsFiddle))
    {
        <a class="logo-jsfiddle blue" target="_blank" href="@Model.JsFiddle">jsfiddle</a>
    }
    @if (!String.IsNullOrEmpty(Model.JsFiddle) && !String.IsNullOrEmpty(Model.Download))
    {
        <span class="separator">or</span>
    }
    @if (!String.IsNullOrEmpty(Model.Download))
    {
        <a href="@Model.Download" target="_blank" class="btn btn-primary">Download</a>
    }
     @if (!String.IsNullOrEmpty(Model.RunApp))
    {
        <a href="@Model.RunApp" target="_blank" class="btn btn-primary">Run application</a>
    }
</div>
