<div class="logo-filter container visible-desktop">
    <h2 class="logo-filter-title">Choose a Product</h2>
    <p>A type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    <ul class="logo-filter-list">
        @*<li class="logo-list-item"><a href="#" class="logo-medium yourui"></a></li>*@
        @*<li class="logo-list-item big"><a href="#" class="logo-medium jqgrid"></a></li>*@
        <li class="logo-list-item big"><a href="#" class="logo-medium jqueryui"></a></li>
        @*<li class="logo-list-item"><a href="#" class="logo-medium jquerymobile"></a></li>*@
        <li class="logo-list-item big"><a href="#" class="logo-medium knockout"></a></li>
        <li class="logo-list-item big"><a href="#" class="logo-medium sencha"></a></li>
        <li class="logo-list-item big"><a href="#" class="logo-medium kendoui"></a></li>
        <li class="logo-list-item big"><a href="#" class="logo-medium handlebars"></a></li>

        <li class="logo-list-item"><a href="#" class="logo-big vs"></a></li>
        @*<li class="logo-list-item"><a href="#" class="logo-big php"></a></li>*@
        <li class="logo-list-item"><a href="#" class="logo-big sqlite"></a></li>
        <li class="logo-list-item"><a href="#" class="logo-big mongodb"></a></li>
        <li class="logo-list-item"><a href="#" class="logo-big nodejs"></a></li>
        @*<li class="logo-list-item"><a href="#" class="logo-big azure"></a></li>*@
        <li class="logo-list-item"><a href="#" class="logo-big jayrepo"></a></li>
        @*<li class="logo-list-item"><a href="#" class="logo-big amazon"></a></li>*@
        @*<li class="logo-list-item"><a href="#" class="logo-big yourstore"></a></li>*@
        <li class="logo-list-item"><a href="#" class="logo-big facebook"></a></li>
        <li class="logo-list-item"><a href="#" class="logo-big yahoo"></a></li>
        <li class="logo-list-item"><a href="#" class="logo-big websql"></a></li>
        @*<li class="logo-list-item"><a href="#" class="logo-big localstorage"></a></li>*@
        <li class="logo-list-item"><a href="#" class="logo-big indexeddb"></a></li>
        @*<li class="logo-list-item"><a href="#" class="logo-big google"></a></li>*@
    </ul>

    <div class="logo-filter-trigger btn-purple">
        <a class="filter-icon" href="javascript:void(0)">
            <i class="icon-chevron-down icon-white z-up"></i>
            <i class="icon-chevron-up icon-white hidden z-down"></i>
        </a>
    </div>
</div>