<footer id="site-footer" class="main-footer">
    <section id="copyright">
        <div class="container">
            <p>
                Copyright JayStack Technologies co. Ltd. 2012. All Rights Reserved - <a href="/privacy-policy">Privacy policy</a><br>
                Non-JayStack logos/trademarks are copyright to their respective owners and do not constitute an endorsement of any JayStack products.
            </p>
        </div>
    </section>
</footer>
