<div class="navbar navbar-fixed-top">
    <div id="mainnav" class="navbar-inner">
        <div class="container">
            <div class="row-fluid">

                <a href="/" class="logo-jaydata-light"></a>

                <ul class="nav">
                    <li><a href="http://github.com/jaydata/jaydata.org-examples" class="btn btn-purple">Examples &#64; GitHub</a></li>
                    <li><a href="http://github.com/jaydata/jaydata" class="btn btn-purple">JayData &#64; GitHub</a></li>
                    <li><a href="download.html" class="btn btn-primary">Download Examples</a></li>
                    <li><a href="http://www.jaydata.org/download" class="btn btn-primary">Download JayData</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="searchbar" class="search-bar">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <div class="block-inline input-append">
                    <input class="span2" id="q" name="q" placeholder="Filter here..." type="text" value="" autofocus>
                    <button class="btn btn-primary" type="submit"><i class="icon-search icon-white"></i></button>
                </div>

                <div class="block-inline tags-inline">
                    <ul class="tags block-inline">
                        <li><a class="label label-purple inactive" href="javascript:void(0)"><i class="icon-tags icon-white"></i>All</a></li>
                        <li><a class="label label-purple" href="javascript:void(0)"><i class="icon-tag icon-white"></i>KnockoutJS <i class="icon-remove"></i></a></li>
                        <li><a class="label label-purple" href="javascript:void(0)"><i class="icon-tag icon-white"></i>tag1 <i class="icon-remove"></i></a></li>
                        <li><a class="label label-purple" href="javascript:void(0)"><i class="icon-tag icon-white"></i>tag3 <i class="icon-remove"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
