<div class="container">
    <header class="jumbotron masthead">
        <div class="inner">
            <h1>JayData</h1>
            <p>Get the free, opensource HTML5-based JavaScript library</p>
            <p class="download-info">
                <a href="http://github.com/jaydata/jaydata.org-examples" class="btn btn-large">Examples &#64; GitHub</a>
                <a href="http://github.com/jaydata/jaydata" class="btn btn-large">JayData &#64; GitHub</a>
                <a href="http://www.jaydata.org/download" class="btn btn-large btn-primary">Download JayData</a>
                <a href="download.html" class="btn btn-primary btn-large btn-large">Download Examples</a>
            </p>
        </div>
    </header>

    <hr class="soften" />

    <div class="marketing">
        <p class="marketing-byline">Learn how to use JayData in your applications with these examples:</p>
    </div>
</div>
