@model JayDataExamples.App_Code.Example
@{ 
    Layout = "~/Views/Shared/Layout_KendoUI.cshtml";
    ViewBag.Title = "";
    }

@section Meta {
    <meta name="keywords" content="JayData, HTML5, Javascript, Kendo UI, Crossplatform, WebSQL, IndexedDB, example" />
    <meta name="description" content="" />
}

@section Includes {
}
@section SupportedBrowsers {
    @{Html.RenderPartial("_IncludeSupportedBrowsers");}
}
@section SimilarContents {
    @{Html.RenderPartial("_IncludeRelatedContents");}
}
@section SourceCode {
    @{Html.RenderPartial("_IncludeDownloadableSource");}
}

@section Tags {
    @{Html.RenderPartial("_IncludeTags");}
}


@section Description {
    <p class="main-desc">
    </p>
}

@section CodeSource {
    <textarea id="code">
    </textarea>

    <script>
        setTimeout(function () {
            CodeMirror.fromTextArea(document.getElementById('code'), {
                mode: 'text/html',
                lineNumbers: false
            });
        });
    </script>
}

@section CodeRunning {
}