@model JayDataExamples.App_Code.Example
@{ Layout = "~/Views/Shared/Layout_Default.cshtml"; }

@section CodeSource {
    <textarea class="code">
<script type="text/javascript">
    var dataContext = new $data.Yahoo.YQLContext({ name: 'YQL' });
    dataContext.onReady(function (context) {
        context.Html
            .filter(function (h) { return h.url == 'http://www.bbc.com/' && h.xpath == '//div[@@id="carousel_items"]/dl' })
            .forEach();
    });
</script>
    </textarea>
}

@section CodeRunning {
    <div id="result" class="yql-html-example">
    </div>
    <script type="text/javascript">
        jQuery.support.cors = true;

        $(function () {
            var dataContext = new $data.Yahoo.YQLContext({ name: 'YQL' });
            dataContext.onReady(function (context) {
                var result = context.Html
                    .filter(function (h) { return h.url == 'http://www.bbc.com/' && h.xpath == '//div[@@id="promo2_carousel_items"]/dl' })
                            .forEach(function (result) {
                                console.log(result);

                                $('#result').append(
                                    '<dd class="fleft margin10 ' + result.dd.a.class + '">' +
                                        '<a target="_blank" href="' + result.dd.a.href + '">' +
                                            '<img src="' + result.dd.a.img.src +
                                                '" alt="' + result.dd.a.img.alt +
                                                '" width="' + result.dd.a.img.width +
                                                '" height="' + result.dd.a.img.height + '" />' +
                                        '</a>' +
                                    '</dd>' +
                                    '<dt class=""><h3><a target="_blank" href="' + result.dd.a.href + '">' + result.dd.a.content + '</a></h3></dt>' +
                                    '<dd class="' + result.dd.class + '">' + result.dd.p + '</dd><br /><hr class="clear soften margin10" />'
                                    );
                            });

                        result.then(function noResult(items) {
                            if (items.length === 0)
                                $("#result").append('YQL result error!');
                        });

                    });
                });

    </script>
}