<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="b7941fdd-bb31-4a82-8fe0-2fcfabd7a46e"
            Publisher="CN=nochtap"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>FlowerShop</DisplayName>
    <PublisherDisplayName>nochtap</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="FlowerShop.App">
        <VisualElements
            DisplayName="FlowerShop"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="FlowerShop"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>