@model JayDataExamples.Controllers.Example
@{
    ViewBag.Title = "Example";
}

<div class="span4">
    <img class="bs-icon" src="assets/img/glyphicons/indexeddb.png">
    <a href="@Model.Link" target="_blank">
        <h2>Kendo UI Examples</h2>
    </a>
    <p>A collection of JayData examples with <a href="http://www.kendoui.com/" target="_blank">Kendo UI</a>.</p>
</div>
