@model JayDataExamples.Controllers.ExampleDoc
@{
    ViewBag.Title = "Examples";
}

<div class="row-fluid">
    <div class="span12">
        @for (int i = 0; i < Model.Examples.Count(); i = i + 3)
        {
            <div class="row-fluid">
                @for (int j = 0; j < 3 && i + j < Model.Examples.Count(); j++)
                {
                    @Html.DisplayFor(m => Model.Examples[i + j])
                }
            </div>
        }
    </div>
</div>

@*@Html.DisplayFor(m=>m.Examples)*@
