.logo-medium {
    display: inline-block; width: 149px; height: 63px;
    background: url(../Images/sprite_image.jpg) no-repeat;

    &.yourui        { background-position: 0 0px;       }
    &.jqgrid        { background-position: 0 -65px;     }
    &.jqueryui      { background-position: 0 -130px;    }
    &.jquerymobile  { background-position: 0 -195px;    }
    &.knockout      { background-position: 0 -260px;    }
    &.sencha        { background-position: 0 -325px;    }
    &.kendoui       { background-position: 0 -1027px;   }
    &.handlebars    { background-position: 0 -1089px;   }
}

.logo-big {
    display: inline-block; width: 185px; height: 85px;
    background: url(../Images/sprite_image.jpg) #fff no-repeat;
    border: 1px solid #ddd;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    &.vs                { background-position: -145px 7px;      }
    &.php               { background-position: -145px -79px;    }
    &.sqlite            { background-position: -145px -696px;   }
    &.mongodb           { background-position: -147px -1215px;  }
    &.nodejs            { background-position: -145px -168px;   }
    &.azure             { background-position: -145px -527px;   }
    &.jayrepo           { background-position: -143px -1118px;  }
    &.amazon            { background-position: -145px -872px;   }
    &.yourstore         { background-position: -145px -436px;   }
    &.facebook          { background-position: -145px -343px;   }
    &.yahoo             { background-position: -145px -257px;   }
    &.websql            { background-position: -140px -1046px;  }
    &.localstorage      { background-position: -145px -785px;   }
    &.indexeddb         { background-position: -145px -608px;   }
    &.google            { background-position: -145px -963px;   }
}