@media (max-width: 480px){
	#searchbar {
		input {
			min-width: 140px !important;

			&:hover, &:focus { min-width: 140px !important; width: 140px !important; }
		}
	}	
}

@media (max-width: 767px){
	body {
		overflow-x: hidden;
	}

	#searchbar {
		position: static;
		margin-right: -20px;
		margin-left: -20px;

		.breadcrumb {
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	.code-running {
		margin: 20px 0 0;
	}

	@filter-height: 450px;
	.logo-filter {
		top: -@filter-height; left: 0; right: 0;
		height: @filter-height;
		margin-left: 0; padding: 0 10px !important;
		z-index: 6500;

		&.open {
			-webkit-transform: translate(0, @filter-height);
			-moz-transform: translate(0, @filter-height);
			-o-transform: translate(0, @filter-height);
			transform: translate(0, @filter-height);
		}
	}

	.logo-filter-list {
		float: none;
		width: auto;
		margin: 0 -20px;

		.logo-list-item {
			width: auto; height: auto;
			margin: 0 10px 10px 0 !important; padding: 2px 5px;

			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-o-transform: scale(1);
			transform: scale(1);

			.logo-big, .logo-medium {
				background: none;
				width: auto !important; height: auto !important;
				position: static !important;
			}

			&.pro:after {
				display: none;
			}

			&:hover {
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
			}
		}

		.list-header h3 {
			margin: 15px 0 5px;
		}
	}
}

@media (max-width: 979px){
	.navbar-fixed-top {
		margin-bottom: 0;
	}

	.navbar .container {
		padding: 0 20px;
	}

	#searchbar {
		position: static;

		.container {
			padding: 0 20px; width: auto;

			.span12 {
				overflow: hidden;
			}
		}

		input { min-width: 250px; }
	}

	.main-content {
		padding: 10px 0 40px;
	}
}

@media (min-width: 768px) and (max-width: 979px){
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		.border-box;
		width: 100%;
		padding: 0 20px !important;
	}

	.span4.well-white {
		min-height: 265px;
	}
}

@media (min-width: 980px) and (max-width: 1199px){
	@filter-height: 650px;
	.logo-filter {
		top: -@filter-height;
		height: @filter-height;
		margin-left: -940/2px;
	}

	.logo-filter-list {
		float: none;
		width: auto;

		.logo-list-item {
			margin: 0 -10px -15px;
		}

		.list-header h3 {
			margin: 15px 0 5px;
		}
	}

	.row-fluid > .span4 {
		width: 27.6%;
	}

	.span4.well-white {
		min-height: 265px;
	}
}

@media (min-width: 1200px){

	@filter-height: 610px;
	.logo-filter {
		top: -@filter-height;
		height: @filter-height;
	}
}