@{ Layout = "~/Views/Shared/Layout_Gallery.cshtml";
   ViewBag.Title = "Gallery Example";
   }

@section Meta {
    <meta name="description" content="How to use the JayData to implement a ToDoList example!">
}

@section Includes {
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="/Scripts/vendor/jquery/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="http://include.jaydata.org/jaydata.js"></script>
    <script type="text/javascript" src="http://include.jaydata.org/jaydataproviders/InMemoryProvider.js"></script>

    <script type="text/javascript" src="/Scripts/example/todo.js"></script>

    <script id="todoEntryTemplate" type="text/html">
        <div class="todoEntry row clear margin10">
            <div class="fleft iblock marginr10" style="min-width: 350px;">
                <label>${Value }</label>
            </div>
            {{if Done}}
            <button value="undone" class="btn btn-small btn-inverse tshadow">Undone</button>
            {{else}}
            <button value="done" class="btn btn-small btn-success tshadow">Done</button>
            {{/if}}
            <button value="delete" class="btn btn-small btn-danger tshadow">Delete</button>
        </div>
    </script>
}

@section Tags {
    <ul class="tags">
        <li><a class="label label-purple" href="javascript:void(0)"><i class="icon-tag icon-white"></i>Windows 8</a></li>
        <li><a class="label label-purple" href="javascript:void(0)"><i class="icon-tag icon-white"></i>Gallery</a></li>
    </ul>
}

@section Description {
    <p class="main-desc">
        Simple ToDoList example where you can create, edit or delete task items. Three providers are supported: <u style="color: Black;">WebSQL</u>,  <u style="color: Black;">Indexed DB</u> and <u style="color: Black;">HTML5 localStorage</u>.
        As you can see in this example, to use Kendo UI with JayData is a piece of cake. All you need is a JayData context, of course it works with all providers!
    </p>
}

@section SupportedBrowsers {
    <div class="bg-dark-grid">
        <h3>Supported Browsers</h3>
    </div>
    <div class="well well-white">
        <h3 class="header-mini first">WebSQL:</h3>
        <ul class="browser-list">
            <li class="browser chrome" title="Google Chrome 12+"></li>
            <li class="browser opera" title="Opera 10+"></li>
            <li class="browser safari" title="Safari 4+"></li>
            <li class="browser blackberry" title="Blackberry 2+"></li>
            <li class="browser wp" title="Windows Phone 7.5+"></li>
            <li class="browser ios" title="iOS 4+"></li>
            <li class="browser android" title="Android 2.2+"></li>
        </ul>
    </div>
}

@section SourceCode {
    <div class="box-jsfiddle fright">
        <a class="logo-jsfiddle blue" target="_blank" href="http://jsfiddle.net/JayData/F4Hda/">jsfiddle</a>

        <span class="separator">or</span>

        <a href="#" class="btn btn-primary">Download</a>
    </div>
}

@section SimilarContents {
    <div class="bg-dark-grid">
        <h3>Related Contents</h3>
    </div>
    <div class="well well-white">
        <ul class="purple-list">
            <li><a href="#">Understand JayData in 7 simple steps</a></li>
            <li><a href="#">What's next in JayData?</a></li>
            <li><a href="#">Understand JayData in 7 simple steps</a></li>
            <li><a href="#">What's next in JayData?</a></li>
            <li><a href="#">Understand JayData in 7 simple steps</a></li>
        </ul>
    </div>
}

@section Gallery {
    <div class="well well-white">
        <div class="pretty-gallery">
            <ul class="pretty-gallery">
                <li><a href="/Images/gallery/jayscrum/demokep.png" rel="prettyPhoto[pp_gal]"><img src="/Images/gallery/jayscrum/thumb/demokep.png" alt="" /></a></li>
                <li><a href="/Images/gallery/jayscrum/jayscrum_1.png" rel="prettyPhoto[pp_gal]"><img src="/Images/gallery/jayscrum/thumb/jayscrum_1.png" alt="" /></a></li>
                <li><a href="/Images/gallery/jayscrum/jayscrum_3.png" rel="prettyPhoto[pp_gal]"><img src="/Images/gallery/jayscrum/thumb/jayscrum_3.png" alt="" /></a></li>
                <li><a href="/Images/gallery/jayscrum/jayscrum_4.png" rel="prettyPhoto[pp_gal]"><img src="/Images/gallery/jayscrum/thumb/jayscrum_4.png" alt="" /></a></li>
                <li><a href="/Images/gallery/jayscrum/jayscrum_8.png" rel="prettyPhoto[pp_gal]"><img src="/Images/gallery/jayscrum/thumb/jayscrum_8.png" alt="" /></a></li>
            </ul>
        </div>
    </div>
}

@section CodeSource {
    <pre class="well well-white marginb20 iblock" style='color: #000000; background: #ffffff; text-align: left;'>    $<span style='color:#808030; '>(</span><span style='color:#800000; '>'#btnAdd'</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>click<span style='color:#808030; '>(</span><span style='color:#0000E6; font-weight:bold; '>function</span> <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        <span style='color:#0000E6; font-weight:bold; '>var</span> value <span style='color:#808030; '>=</span> $<span style='color:#808030; '>(</span><span style='color:#800000; '>'#txtNew'</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>val<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#0000E6; font-weight:bold; '>if</span> <span style='color:#808030; '>(</span><span style='color:#808030; '>!</span>value<span style='color:#808030; '>)</span> <span style='color:#0000E6; font-weight:bold; '>return</span><span style='color:#800080; '>;</span>
        <span style='color:#0000E6; font-weight:bold; '>var</span> now <span style='color:#808030; '>=</span> <span style='color:#0000E6; font-weight:bold; '>new</span> <span style='color:#797997; '>Date</span><span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#0000E6; font-weight:bold; '>var</span> entity <span style='color:#808030; '>=</span> <span style='color:#0000E6; font-weight:bold; '>new</span> $todo<span style='color:#808030; '>.</span>Types<span style='color:#808030; '>.</span>ToDoEntry<span style='color:#808030; '>(</span><span style='color:#800080; '>{</span> Value<span style='color:#800080; '>:</span> value<span style='color:#808030; '>,</span> CreatedAt<span style='color:#800080; '>:</span> now<span style='color:#808030; '>,</span> ModifiedAt<span style='color:#800080; '>:</span> now <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        $todo<span style='color:#808030; '>.</span>context<span style='color:#808030; '>.</span>TodoEntries<span style='color:#808030; '>.</span>add<span style='color:#808030; '>(</span>entity<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        $todo<span style='color:#808030; '>.</span>context<span style='color:#808030; '>.</span>saveChanges<span style='color:#808030; '>(</span>updateView<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

    $<span style='color:#808030; '>(</span><span style='color:#800000; '>'#btnClear'</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>click<span style='color:#808030; '>(</span><span style='color:#0000E6; font-weight:bold; '>function</span> <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        $<span style='color:#808030; '>(</span><span style='color:#800000; '>'#todoList > div'</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>each<span style='color:#808030; '>(</span><span style='color:#0000E6; font-weight:bold; '>function</span> <span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
            <span style='color:#0000E6; font-weight:bold; '>var</span> entity <span style='color:#808030; '>=</span> $<span style='color:#808030; '>(</span><span style='color:#0000E6; font-weight:bold; '>this</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>data<span style='color:#808030; '>(</span><span style='color:#800000; '>'entity'</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            $todo<span style='color:#808030; '>.</span>context<span style='color:#808030; '>.</span>TodoEntries<span style='color:#808030; '>.</span>remove<span style='color:#808030; '>(</span>entity<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        $todo<span style='color:#808030; '>.</span>context<span style='color:#808030; '>.</span>saveChanges<span style='color:#808030; '>(</span>updateView<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>

    $<span style='color:#808030; '>(</span><span style='color:#800000; '>'#todoList'</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>on<span style='color:#808030; '>(</span><span style='color:#800000; '>'click'</span><span style='color:#808030; '>,</span> <span style='color:#800000; '>':button'</span><span style='color:#808030; '>,</span> <span style='color:#0000E6; font-weight:bold; '>function</span> <span style='color:#808030; '>(</span>e<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
        <span style='color:#0000E6; font-weight:bold; '>var</span> cmd <span style='color:#808030; '>=</span> $<span style='color:#808030; '>(</span><span style='color:#0000E6; font-weight:bold; '>this</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>val<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#0000E6; font-weight:bold; '>var</span> entry <span style='color:#808030; '>=</span> $<span style='color:#808030; '>(</span><span style='color:#0000E6; font-weight:bold; '>this</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>parent<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>data<span style='color:#808030; '>(</span><span style='color:#800000; '>'entity'</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#0000E6; font-weight:bold; '>switch</span> <span style='color:#808030; '>(</span>cmd<span style='color:#808030; '>)</span> <span style='color:#800080; '>{</span>
            <span style='color:#0000E6; font-weight:bold; '>case</span> <span style='color:#800000; '>'undone'</span><span style='color:#800080; '>:</span>
            <span style='color:#0000E6; font-weight:bold; '>case</span> <span style='color:#800000; '>'done'</span><span style='color:#800080; '>:</span>
                $todo<span style='color:#808030; '>.</span>context<span style='color:#808030; '>.</span>TodoEntries<span style='color:#808030; '>.</span>attach<span style='color:#808030; '>(</span>entry<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                entry<span style='color:#808030; '>.</span>Done <span style='color:#808030; '>=</span> <span style='color:#808030; '>(</span>cmd <span style='color:#808030; '>==</span> <span style='color:#800000; '>'done'</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                <span style='color:#0000E6; font-weight:bold; '>break</span><span style='color:#800080; '>;</span>
            <span style='color:#0000E6; font-weight:bold; '>case</span> <span style='color:#800000; '>'delete'</span><span style='color:#800080; '>:</span>
                $todo<span style='color:#808030; '>.</span>context<span style='color:#808030; '>.</span>TodoEntries<span style='color:#808030; '>.</span>remove<span style='color:#808030; '>(</span>entry<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
                <span style='color:#0000E6; font-weight:bold; '>break</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>}</span>
        $todo<span style='color:#808030; '>.</span>context<span style='color:#808030; '>.</span>saveChanges<span style='color:#808030; '>(</span>updateView<span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
    <span style='color:#800080; '>}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
</pre>


}

@section CodeRunning {
    <section id="wrapper" class="">
        <h2 class="margin10">Choose your prefered provider:</h2>
        <p id="providerSelection" class="download-info">
            <button id="btnSql" value="sqLite" class="btn btn-medium">WebSQL</button>
            <button id="btnIdb" value="indexedDb" class="btn btn-medium">IndexedDB</button>
            <button id="btnLocalStorage" value="LocalStore" class="btn btn-medium">HTML5 localStorage</button>
        </p>

        <div>
            <input id="txtNew" type="text" class="reset-m" />
            <button id="btnAdd" class="btn btn-small">Add</button>
            <button id="btnClear" class="btn btn-small">Clear</button>
        </div>
        <div id="todoList"></div>
    </section>
}
