@model JayDataExamples.Controllers.ExampleDoc
@{
    ViewBag.Title = "Index";
}

@{
    Html.RenderPartial("_IncludeLogoFilter");
    Html.RenderPartial("_IncludeSearchBar");
}

@section MainBody {
    <div class="container">
        <div class="marketing">
            @Html.DisplayForModel()
        </div>
    </div>
}