@model JayDataExamples.Controllers.ExampleDoc
@{
    ViewBag.Title = "Index";
}

@*
if (i % 3)
<div class="row">items[i]</div>
*@

<div class="container">
    <div class="marketing">
        @Html.DisplayForModel()
    </div>
</div>