@model JayDataExamples.App_Code.ExampleDoc
@{
    ViewBag.Title = "Index";
    Html.RenderPartial("_IncludeLogoFilter");
}
@section Header {
    <script src="/examples/Scripts/vendor/knockout-2.1.0.js"></script>
    <script src="http://include.jaydata.org/jaydatamodules/knockout.js"></script>
    <script src="/examples/Scripts/indexModel.js"></script>
}

@section SubHeader {
    @{ Html.RenderPartial("_IncludeSearchBar"); }
}

@section MainBody {
    <div class="container">
        <div class="marketing main-page">
            <div class="row-fluid">
                <div class="span12" data-bind="foreach: $data.VisibleData">
                    <!--ko template: {name:'row'}-->
                    <ul style="color: white;">
                        @foreach (var example in Model.Examples)
                        {
                            <li><a style="color:rgb(240,240,240);" href="/examples/@example.Link">@example.Title</a></li>
                        }
                    </ul>
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="row">
        <div class="row-fluid" data-bind="foreach:$data">
            <!--ko template: {name:'cell'}-->
            <!--/ko-->
        </div>
    </script>

    <script type="text/html" id="cell">
        <div class="span4 well well-white" data-bind="attr:{class:Suggested()?'span4 well well-white '+Suggested():'span4 well well-white'}">
            <div class="qr-code fright">
                <img src="" data-bind="attr:{src:'https://chart.googleapis.com/chart?cht=qr&chl='+encodeURIComponent('http://jaydata.org/examples/'+Link())+'&chs=90x90'}" alt="QR Code" />
            </div>
            <a data-bind="attr:{href:'/examples/'+Link()}">
                <h2 data-bind="text: Title"></h2>
            </a>
            <small class="hover-info badge"><i class="icon-signal icon-white"></i><span data-bind="text: Level" title="Level of difficulty"></span></small>
            <p data-bind="html: Lead"></p>
            <ul class="tags">
                <!--ko foreach:LimitedTagList-->
                <li><a class="label label-purple" href="javascript:void(0)" data-bind="text:$data, click:$root.addTags"><i class="icon-tag icon-white"></i></a></li>
                <!--/ko-->
                @*<!--ko if:LimitedTagList().length<TagList().length-->
                <li><a class="label label-purple" href="javascript:void(0)">...</a></li>
                <!--/ko-->*@
            </ul>
        </div>
    </script>

    <script type="text/javascript">
        function getURLParameter(name) {
            return decodeURIComponent(
                (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, null])[1]
            );
        }
        function initModelFromUrl() {
            //console.log("Init model from url: ",location.search, ' window.history length: ', window.history.length);
            var tagListStr = getURLParameter("tags");
            var qStr = getURLParameter("q");
            //console.log("tagList: ", tagListStr, " query str: ", qStr);

            if (tagListStr !== "null") {
                var tagList = tagListStr.split(',');
                exampleSite.Model.addTags(tagList, true);
            } else {
                exampleSite.Model.removeTags();
            }
            
            if (qStr !== "null") {
                exampleSite.Model.qStr(qStr);
            } else {
                exampleSite.Model.qStr('');
            }
            exampleSite.filter();
        }
        var exampleSite = new ExampleSite();
        exampleSite.initialize().then(function () {
            ko.applyBindings(exampleSite.Model);
            initModelFromUrl();
            window.onpopstate = function (event) {
                window.isBackButton = true;
                initModelFromUrl();
                window.isBackButton = false;
            };
        });
    </script>
}