@model JayDataExamples.App_Code.ExampleDoc
@{
    ViewBag.Title = "Index";
    Html.RenderPartial("_IncludeLogoFilter");
    Html.RenderPartial("_IncludeSearchBar");
}

@section Header{
    <script src="~/Scripts/vendor/knockout-2.1.0.js"></script>
    <script src="/Scripts/ui.js"></script>
    <script src="http://include.jaydata.org/jaydatamodules/knockout.js"></script>
    <script src="~/Scripts/indexModel.js"></script>
}

@section MainBody {
    <div class="container">
        <div class="marketing main-page">
            <div class="row-fluid">
                <div class="span12" data-bind="foreach: $data.VisibleData">
                    <!--ko template: {name:'row'}-->
                    <!--/ko-->
                </div>
            </div>
        </div>
    </div>

    <script type="text/html" id="row">
        <div class="row-fluid" data-bind="foreach:$data">
            <!--ko template: {name:'cell'}-->
            <!--/ko-->
        </div>
    </script>

    <script type="text/html" id="cell">
        <div class="span4 well well-white" data-bind="attr:{class:Suggested()?'span4 well well-white '+Suggested():'span4 well well-white'}">
            <div class="qr-code fright">
                <img data-bind="attr:{src:'https://chart.googleapis.com/chart?cht=qr&chl='+encodeURIComponent('http://nochtap.avangrade.com/'+Link())+'&chs=80x80'}" alt="QR Code" />
            </div>
            <a data-bind="attr:{href:Link}">
                <h2 data-bind="text: Title"></h2>
            </a>
            <p data-bind="html: Description"></p>
            <ul class="tags" data-bind="foreach:TagList">
                <li><a class="label label-purple" href="javascript:void(0)" data-bind="text:$data, click:$root.addTags"><i class="icon-tag icon-white"></i></a></li>
            </ul>
        </div>
    </script>

    <script type="text/javascript">
        function getURLParameter(name) {
            return decodeURIComponent(
                (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search) || [, null])[1]
            );
        }
        var exampleSite = new ExampleSite();
        exampleSite.initialize().then(function () {
            ko.applyBindings(exampleSite.Model);
            var tagListStr = getURLParameter("tags");
            if (tagListStr !== "null") {
                var tagList = tagListStr.split(',');
                tagList.forEach(function (tag) {
                    exampleSite.Model.addTags(tag);
                });
            }
            var qStr = getURLParameter("q");
            if (qStr !== "null") {
                exampleSite.Model.qStr(qStr);
            }
        });
    </script>
}